* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f9f9f9;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
  }
  
  .main_container {
    height: auto;
    width: 35rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 20px;
    border: 2px solid #2e2c2c;
    border-radius: 12px;
    background-color: white;
    box-shadow: 15px 25px 25px rgba(0, 0, 0, 0.1);
  }
  
  .main_container label {
    font-size: 1rem;
    font-weight: bold;
    margin-bottom: 5px;
    display: block;
  }
  
  .input {
    border: 2px solid lightgrey;
    width: 460px;
    height: 3.5em;
    padding-left: 0.8em;
    outline: none;
    background-color: #f9f9f9;
    border-radius: 10px;
    transition: all 0.5s;
    font-family: Arial, Helvetica, sans-serif;
    font-size: larger;
  }
  
  .input:hover,
  .input:focus {
    border: 2px solid #4a9dec;
    background-color: white;
  }
  
  .textarea {
    resize: none;
    width: 460px;
    height: 7rem;
    padding: 12px;
    border-radius: 10px;
    border: 2px solid lightgrey;
    outline: none;
    background-color: #f9f9f9;
    transition: all 0.3s;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1rem;
  }
  
  .textarea:hover,
  .textarea:focus {
    border: 2px solid #4a9dec;
    background-color: white;
  }
  
  .file-upload {
    width: 460px;
    text-align: center;
    margin: 20px 0;
  }
  
  .file-label {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    background-color: #4a9dec;
    color: white;
    border-radius: 10px;
    cursor: pointer;
    font-size: 16px;
    font-weight: 500;
    transition: background-color 0.3s, box-shadow 0.3s;
  }
  
  .file-label:hover {
    background-color: #007bff;
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.15);
  }
  
  .file-input {
    display: none;
    
  }
  
  .file-name {
    margin-top: 10px;
    font-size: 14px;
    color: #333;
    text-align: center;
    word-wrap: break-word;
    font-family: Arial, Helvetica, sans-serif;
  }
  
  
  button {
    display: inline-block;
    border-radius: 12px;
    background-color: #4a9dec;
    border: none;
    color: #ffffff;
    text-align: center;
    font-size: 17px;
    padding: 10px;
    width: 460px;
    transition: all 0.5s;
    cursor: pointer;
    margin-top: 10px;
    font-family: Arial, Helvetica, sans-serif;
  }
  
  button:active {
    transform: scale(0.95);
  }
  
  button:hover {
    box-shadow: 0 0 10px #000000;
  }
  
  button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
  }
  
  button span:after {
    content: "»";
    position: absolute;
    opacity: 0;
    top: 0;
    right: -15px;
    transition: 0.5s;
  }
  
  button:hover span {
    padding-right: 15px;
  }
  
  button:hover span:after {
    opacity: 1;
    right: 0;
  } 